.col-2{
    margin: 5px;
}

i {
    font-size: 3rem;
    color: rgba(255, 250, 0, 0.75);
}
#main i {
    font-size: 5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: rgba(255, 250, 0, 0.75);
    
}

#main {
    border-right: 2px solid grey;
}

#forecast{
    text-align: center;
} 

#forecastTitle{
    margin-bottom: 2rem;
}

#weather{
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid grey;
}