input{
    background-color: transparent;
    border: 0 !important;
    border-radius: 0 !important;
    border-bottom: solid 2px #007bff!important;
}

#searchbar{
    margin-top: 4rem;
    margin-bottom: 2rem;
}